 body {
  font-family: "Microsoft Yahei", Tahoma, Arial, Helvetica, STHeiti;
  font-size: 12px;
  color: #333;
}
.notice {
  width: 615px;
}
.notice a {
  text-decoration: none;
  outline: 0 none;
}
.notice-head {
  overflow: hidden;
}
.notice-head a {
  display: block;
  float: left;
  width: 150px;
  height: 38px;
  line-height: 38px;
  padding: 0 10px 0 15px;
  background-color: #e7e7e7;
  border: 1px solid #d9d9d9;
  border-left: 0;
  *border-left: 1px;
  border-bottom: none;
  cursor: pointer;
}
.notice-head:first-child { 
   border-left: 1px solid #d9d9d9; 
 } 
.notice-head a.selected {
  background-color: #fff;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.notice-head a.info {
  font-size: 15px;
  color: #333;
  font-weight: 700;
  float: left
}
.notice-head .more {
  color: #ea5404;
  margin-left: 15px;
  font-weight: 400
}
.notice-body {
  padding: 0;
  margin: 0;
  border: 1px solid #d9d9d9;
}
.left-menu {
  float: left;
  padding: 0;
  margin: 0;
  clear: left;
  background-color: #e9eefc;
  width: 176px;
  overflow: hidden;
  /* height: 376px; */
}
.left-menu dl {
  margin: 0;
}
.left-menu a {
  display: block;
  height: 44px;
  line-height: 44px;
  background-color: #f7f9ff;
  border-bottom: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  padding-left: 26px;
  font-size: 14px;
  color: #333;
  font-weight: bold;
  position: relative;
}
.left-menu dt:last-child a {
  border-bottom:0;
}

.left-menu a b {
  border-color: transparent transparent transparent #c0c0c0;
  border-style: solid;
  border-width: 4px;
  font-size: 0;
  height: 0;
  width: 0;
  line-height: 0;
  vertical-align: middle;
  display: inline-block;
  position: absolute;
  left: 16px;
  top: 18px;
}
.left-menu a.cur,
.left-menu a.cur:hover {
  text-decoration: none;
  background-color: #fff;
  border-left: 3px solid #fd8238;
  border-right: 1px solid #ffffff;
  position: relative;
}
.left-menu a:hover {
  border-left: 1px solid #fd8238;
  background-color: #fff;
}
.notice-list ul {
  margin: 0 0 0 190px;
  padding: 8px;
  list-style: none;
}
.notice-list li {
  line-height: 25px
}
.notice-list li b {
  float: left;
  width: 3px;
  height: 3px;
  margin: 11px 7px 0 0;
  vertical-align: middle;
  font-size: 0;
  background-color: #b0b0b1
}
.notice-list li a {
  color: #2438CD;
  vertical-align: middle;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  *float:left;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
  overflow: hidden;
}
.clearfix {
  zoom:1; /* For IE 6/7 (trigger hasLayout) */
}
